html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  margin: 0px;
  color: #424242;
  padding: 0px;
}
nav {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
.AboutImage {
  display: inline-block;
  width: 35vw;
  /*float: left;*/
  margin-right: 5vw;
  margin-top: 0.5em;
  /*margin: 0.5em 5vw 50vh 0;*/
  border-radius: 1em;
}
@media (max-width: 700px) {
  .AboutImage {
    float: none;
    width: 50vw;
    display: block;
    margin: auto;
    margin-bottom: 0;
  }
}
.AboutHeading {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}
.BackButton {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  position: absolute;
}
.BackgroundImageContainer {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 3vh;
}
.BackgroundImage {
  width: 100vw;
  padding: 0px;
  margin: 0px;
}
.BodyTitle {
  margin: auto;
  text-align: center;
  padding: 0 0 5vh 0;
  font-size: 3vw;
  font-weight: bold;
}
.BodyText {
  width: 75vw;
  margin: auto;
  padding-bottom: 20vh;
  line-height: 2em;
  font-size: 1.3em;
  text-align: center;
}
.BodyTextLocation {
  width: 75vw;
  margin: auto;
  line-height: 2em;
  font-size: 1.3em;
  text-align: center;
}
.BodyTextAbout {
  width: 75vw;
  margin-left: 10vw;
  padding-bottom: 10vh;
  line-height: 2em;
  font-size: 1.3em;
  align-items: center;
}
.carousel {
  height: 25vw;
  width: 50vw;
  padding-bottom: 10vw;
}
.CarouselContainer {
  display: flex;
  justify-content: center;
}

.img-fluid {
  width: 50vw;
  height: 40vw;
}
.EmailBody {
  display: block;
  width: 80%;
  min-width: 500px;
  margin: auto;
}
.EmailForm {
  width: 100%;
  padding: 0px;
}
.EmailField {
  width: 100%;
  padding: 0px;
  padding-top: 3vh;
}
.EmailInput {
  width: 50%;
  height: 5vh;
  padding: 0px;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  margin: 0;
}
.EmailInputButton {
  width: 33%;
  height: 7vh;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.EmailInputButton:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  text-decoration: none;
}
.EmailBodyInput {
  width: 100%;
  height: 55vh;
  text-align: left;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  resize: none;
}
.GoogleMap {
  width: 75vw;
  height: 50vh;
}
.HomePageBody {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 0 12vw 0 12vw;
}
@media (max-width: 700px) {
  .HomePageBody {
    flex-direction: column;
  }
}
.HomePageAbout {
  flex: 1;
}
.HomeLink:hover {
  text-decoration: underline;
  text-decoration-color: #e14e4e;
}
.HorizontalContainer {
  display: flex;
  align-items: center;
}
.LocationContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.LocationImageContainer {
  padding: 1% 2% 3% 2%;
  width: 100%;
  border-radius: 1em;
  text-align: center;
}
.LocationImage {
  width: 100%;
}
.LocationImageContainer:hover {
  background-color: #dedfe0;
}
.NavbarLink {
  text-decoration: none;
  color: #424242;
  font-size: 4vh;
  padding-bottom: 0.1vw;
}

.NavbarLink:hover {
  /*text-decoration: underline;
  text-decoration-color: #e14e4e;*/
  border-bottom: 2px solid #e14e4e;
}

.NavbarLinkContainer {
  margin-bottom: 2vh;
}
.ProductsList {
  width: 75vw;
  margin: auto;
  padding-bottom: 20vh;
  line-height: 2em;
  font-size: 1.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ProductCategory {
  font-weight: bold;
}
.ProductItemLink {
  width: 80%;
  margin-left: 1vw;
  display: inline;
}
.ProductDetailHistory {
  padding-left: 2vw;
}
.ProductDetailHeading {
  margin-top: 10vh;
  margin-left: 12vw;
}
.ServicesImageThumnbnail {
  margin: auto;
  width: 560px;
  padding-top: 5vh;
}
.ItemContainer {
  overflow: hidden;
}
.ItemImageContainer {
  display: flex;
  width: 75vw;
  margin: auto;
  margin-top: 5vh;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ItemImage {
  width: 15vw;
  height: 15vw;
  max-width: 15vw;
  max-height: 15vw;
  overflow: hidden;
  padding-bottom: 0.5vw;
  margin: 1vw 0.5vw 1vw 1vw;
}
.ItemImage:hover {
  border-bottom: 2px solid #e14e4e;
  margin-bottom: -2px;
}
/*.ItemImage:hover {
  background-color: #dedfe0;
}*/
.ItemImageLink {
  margin: 0;
  padding: 0;
}

.ItemLink {
  display: block;
  font-size: 1vw;
}

.ItemLinkTitle {
  line-height: 0%;
}
.ProductThumnail {
  width: 20vw;
  height: 20vw;
}
.ProductItemContainer {
  display: block;
  text-align: center;
  margin-bottom: 4vw;
}

.Selected {
  border-bottom: 2px solid #e14e4e;
}
.SelectedImage {
  width: 75vw;
  display: block;
  margin: 0 auto;
}
.SelectedImageName {
  text-align: center;
}
.SelectedImageContainer {
  display: flex;
  margin: auto;
}

#EmailInputButtonContainer {
  text-align: right;
}
.ThumbnailContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 1vw;
}
.Thumbnails {
  display: inline;
  margin: 1vw 1vw 1vw 0vw;
}
.ThumbnailImages {
  height: 5vw;
  width: 5vw;
  cursor: pointer;
}
